<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="icon" type="image/x-icon" href="/icon/ico.png" />
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>

  

  <h1>Usuarios</h1>
  <div class="table_de_usurio">
    
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Correo</th>
            <th>Password</th>
            <th><a href="/addUser"><img src="/img/add.png" id='add'></a></th>
          </tr>
          <%for(const usuario of modelo){%>
            <tr>
              <td><%=usuario.id%></td>
              <td><%=usuario.nombre%></td>
              <td><%=usuario.apellido%></td>
              <td><%=usuario.cedula%></td>
              <td><%=usuario.correo%></td>
              <td><%=usuario.password%></td>
              <td class="icon">
              <a href="/updateUser/<%= usuario.id%>"><img src="/img/update.png" width="30"></a>
              <a href="/deleteUser/<%= usuario.id%>"><img src="/img/delete.png" width="30" id="delete"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
        <div id='hola'>
    
          <a href="/logout2" class='botonProductos'>Cerrar</a>
          <a href="/usuarios" class='botonProductos'>Users</a>
          <a href="/compras" class='botonProductos'>Compras</a>
          <a href="/productos" class='botonProductos'>Productos</a>
          <a href='/categorias' class='botonProductos'>Categorias</a>
      
        </div>
  </div>

</body>
</html>
